/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}

h1, h2, h3 {
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    justify-content: space-around;
    display: flex;
}

a {
    color: #007bff;
}

html {
    scroll-behavior: smooth;
  }

/* Scrolling effect */

/* Class to apply the slide-up effect when entering */
.section.slide-enter {
    transform: translateY(100%);
  }

.section {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
  }


/* Header Styles */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    position: sticky;
    z-index: 8;
    top: 0;

}

header:hover    {
    display: block;
}

.image-headshot {
    background-image: url("https://cdn.discordapp.com/attachments/1086145365008461885/1133438009589649508/Alan_new-enhanced.jpg");
    height: 940px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: #333 solid 10px;
    flex: auto;
  }


#landing    { 
        background-color: rgba(51, 51, 51, 99%);
        color: #fff; 
        width: 50vh; 
        height: 800px;
        margin: 0 auto;
        position: absolute;
        top: 100px;
        left: 220px;
        display: flex;
        border: #272727 solid 10px;
        justify-content: center;
        align-content: center;
        
      }

.image-forehead {
    background-image: url("https://cdn.discordapp.com/attachments/1086145365008461885/1133437335325904936/Alan_Forhead.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: #333 solid 10px;
    flex: auto;
  }

  .image-eyes {
    background-image: url("https://cdn.discordapp.com/attachments/1086145365008461885/1133437123912020068/Alan_Eyes.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    z-index: 3;
    border-bottom: #333 solid 10px;
    border-top: #333 solid 10px;
    flex: auto;
  }

  .image-mustache {
    background-image: url("https://cdn.discordapp.com/attachments/1086145365008461885/1133437357010468864/Alan_Mustache.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    z-index: 5;
    border-bottom: #333 solid 10px;
    border-top: #333 solid 10px;;
    flex: auto;
  }

  

nav ul {
    list-style-type: none;
    display: flex;
    
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Home Section Styles */
#welcome    {
    font-size: 75px;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f9f9f9;
    position: relative;
    top: 178px;
    justify-content: center;
    align-content: center;
    display: flex;
}

#wallpaper  {
    position: relative;
    display: flex;
    height: 800px;
    width: 100%
}

#home {
    text-align: center;
    padding: 50px 0;
    justify-items: center;
}

#home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#home p {
    font-size: 18px;
}

/* About Section Styles */
#about {
    background-color: #f9f9f9;
    padding: 50px;
    border-top: #333 solid 10px ;
}

#forehead {
    background-color: #f9f9f9;
    padding: 50px;
    padding-top: 450px;
    padding-bottom: 500px;
    z-index: 2;
    position: sticky;
    top: 40px;
}

#Paragraph {
    display: flex;
    text-align: center;
    font-size: x-large;
}

/* Portfolio Section Styles */
#portfolio {
    padding: 50px;
}

#port {
    background-color: #f9f9f9;
    padding: 50px;
    z-index: 4;
    position: sticky;
    top: 40px;
    padding-bottom: 50px;
}

.project {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.project img {
    max-width: 100vh;
    height: 500px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}
/* Contact Section Styles */
#contact {
    background-color: #f9f9f9;
    padding: 50px;
    padding-top: 150px;
    z-index: 7;
    position: sticky;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #ff7300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

@media (max-width: 600px) {

    .image-headshot {
    height: 790px;
    border-bottom: #333 solid 10px;
    right: 10px;
    }

    .image-forehead,
    .image-eyes,
    .image-mustache {
        height: 200px;
        position: sticky;
    
    }

    #landing {
        height: 250px;
        width: 340px;
        top: 517px;
        bottom: 50px;
        left: -50px;
        right: -50px;
    }

    #welcome    {
        position: relative;
        top: 10px;
        right: 10px;
        text-align: center;
    }

    #wallpaper  {
        height: 100vh;
    }

    #about {
        z-index: 3;
    }

    #scroll-to-stop {
        scroll-margin-top: 200px; /* Adjust this value as needed */
    }

    #forehead   {
        z-index: 0;
        position: static;
    }
    #portfolio  {
        z-index: 5;
    }
    #port   {
        z-index: 0;
        position: static;
    }
    .image-mustache {
        z-index: 7;
    }
    #contact    {
        z-index: 6;
        padding-top: 200px;
    }

header {
    flex-direction: row;

    }
nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
}
.project2 img {
    height: 175px;
}
.project img {
    height: 200px;
} }